.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .name-container {
        display: flex;
        flex-direction: row;
        .first-name {
            display: flex;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
        }
        .last-name {
            display: flex;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
            color: grey;
        }
    }
    .email-container{
        display: flex;
        font-family: Calibri;
        color: green;
    }
}
.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    hr {
        width: 100%;
    }
}
.summary-container {
    display: flex;
        flex-direction: column;
        align-items: center;
    
    // anything below 900 use full screen. 
    // anything between 900 and 1300 use 200px margin.
    // anything larger than 1300 use 400px.
    @media (min-width: 900px) {
        margin-left: 200px;
        margin-right: 200px;
    }
    @media (min-width: 1300px) {
        margin-left: 400px;
        margin-right: 400px;
    }
    .core-container {
        display: flex;
        flex-direction: row;
    }
    .summary-section {
        display: flex;
        text-align: justify;
    }
}
