<div class="resume-container">
  <div class="title-container">
    <div class="name-container">
      <span class="first-name">
        SHANNA
      </span>
      <span class="first-name">
        &nbsp;
      </span>
      <span class="last-name">
        VAH
      </span>
    </div>
    <div>
      Austin, Texas &#183; 651.500.8552
    </div>
    <div class="email-container">
      shanna.vah@gmail.com
    </div>
  </div>
  <hr>
  <div class="summary-container">
    <div class="core-container">
      <div>
        Cultural Navigator
      </div>
      <div>
        &nbsp;|&nbsp;
      </div>
      <div>
        People Person
      </div>
      <div>
        &nbsp;|&nbsp;
      </div>
      <div>
        Process Improvement Practitioner
      </div>
    </div>
    <div class="summary-section">
      Reliable, enthusiastic, and resourceful human resources professional with over eight years of practice improving
      stakeholders, users, and candidate experiences in talent acquisition, policy, benefits, HRIS reporting,
      classification, compensation, and employee relations in both private and public sector.
    </div>
  </div>
</div>
