<div class="resume-container">
  <div class="title-container">
    <div class="name-container">
      <span class="first-name">
        SHANNA
      </span>
      <span class="first-name">
        &nbsp;
      </span>
      <span class="last-name">
        VAH
      </span>
    </div>
    <div>
      Austin, Texas &#183; 651.500.8552
    </div>
    <div class="email-container">
      shanna.vah@gmail.com
    </div>
  </div>
  <hr>
  <div class="summary-container">
    <div class="core-container">
      <div class="core-rightborder">
        Cultural Navigator
      </div>
      <div class="core-rightborder core-leftborder">
        People Person
      </div>
      <div class="core-leftborder">
        Process Improvement Practitioner
      </div>
    </div>
    <div class="summary-section">
      Reliable, enthusiastic, and resourceful human resources professional with over eight years of practice improving
      stakeholders, users, and candidate experiences in talent acquisition, policy, benefits, HRIS reporting,
      classification, compensation, and employee relations in both private and public sector.
    </div>
  </div>
  <div class="body-container">
    <div class="body-title">
      EXPERIENCE
    </div>
    <div class="section-container">
      <div class="vertical-line">

      </div>
      <div class="body-section">
        <div class="section-item">
          <div class="date-range">
            JUNE 2016 - PRESENT
          </div>
          <div class="job-title">
            HR SPECIALIST III, STATE OF MINNESOTA
          </div>
          <div class="job-description">
            Progressively served at the Department of Health and Department of Revenue managing all stages of an
            employee lifecycle for over 500 employees out of 1500 employees at each agency.
            <ul>
              <li>Analyze, interpret, and recommend improvements for all steps in the hiring process to Senior HR
                Management which resulted in improved business partnerships and process efficiency by 90%.</li>
              <li>Developed and facilitated an annual career development training for Department of Revenue employees
                increasing internal application interest by 30% and internal hire rate by 20%.</li>
              <li>Hold sub delegation authority to approve all compensation, classification, and selection decisions for
                all 1200 professional, clerical, and technical positions. </li>
              <li>Produced all Human Resources requirements for reaccreditation with the National Public Health
                Accreditation Board for the Department of Health in 2018.</li>
            </ul>
          </div>
        </div>
        <div class="section-item">
          <div class="date-range">
            DECEMBER 2013 - MAY 2016
          </div>
          <div class="job-title">
            HR BUSINESS PARTNER ASSOCIATE, GENERAL MILLS
          </div>
          <div class="job-description">
            Liaison between HR Shared Service Center and Division HR Leaders. Responsible for coordinating annual
            processes and managing all employee movements and transactions for three large divisions (Supply Chain,
            Innovation, Technology, and Quality, and Global Business Solutions).
            <ul>
              <li>Annual program coordinator for open enrollment, performance review, and succession planning processes
                for three of the largest divisions.</li>
              <li>Collaborated with various HR partners to implement WorkDay processes.</li>
              <li>Partnered with developers to regularly test HR systems and processes for usability and experience
                resulting in upgrades, improvements and efficiency. </li>
              <li>Resolve and respond to employees’ benefit inquires and concerns on a daily basis. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="body-title">
        EDUCATION
      </div>
      <div class="section-container">
        <div class="vertical-line">
        </div>
        <div class="body-section">
        <div class="section-item education-item">
          <div class="date-range">
            AUGUST 2017
          </div>
          <div class="degree-type">
            GRADUATE CERTIFICATE - DESIGN OF USER EXPERIENCE
          </div>
          <div class="school-name">
            METROPOLITAN STATE UNIVERSITY
          </div>
          <div class="education-description">
            Graduated with a 4.0 GPA
          </div>
        </div>
        <div class="section-item education-item">
          <div class="date-range">
            MAY 2013
          </div>
          <div class="degree-type">
            BACHELOR OR SCIENCE - BUSINESS ADMIN, MARKETING AND MANAGEMENT
          </div>
          <div class="school-name">
            ST. CATHERINE UNIVERSITY
          </div>
          <div class="education-description">
            Minor in Finance
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="body-container">
      <div class="body-title">
        SKILLS
      </div>
      <div class="section-container">
        <div class="description-container">
          <ul>
            <li>Mastery of Microsoft Office Suite</li>
            <li>Experience with HRIS and HCM</li>
            <li>Comfortable having crucial conversations</li>
          </ul>
        </div>
        <div class="description-container">
          <ul>
            <li>Collaborative and results driven team player with a supportive and positive attitude</li>
            <li>Resourceful, organized, detail-oriented, and critical thinking skills</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>